body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
  }
  
  #movieDetails {
    margin-top: 20px;
    margin-left: 40%;
  }